* {
  box-sizing: border-box; }

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

img {
  width: 100%;
  border-radius: 12px; }

ul > li {
  list-style: none; }

a {
  list-style: none;
  text-decoration: none; }

span {
  visibility: hidden; }

.article__card svg {
  fill: currentColor;
  color: white; }

.masthead {
  display: flex;
  flex-direction: row; }
  .masthead__link {
    margin-top: 13px; }
  .masthead__nav-menu {
    position: absolute;
    left: 85%;
    top: 0;
    margin-top: 19px; }

.subheading {
  margin-left: 40px; }

.subheading__email {
  width: 300px;
  position: relative; }

.subheading__input {
  margin: 0px;
  padding: 0px;
  width: 100%;
  outline: none;
  padding-left: 19px;
  padding-top: 15px;
  padding-bottom: 17px;
  border-radius: 5px;
  background-color: #F2F2F2;
  border-radius: 12px;
  border: none; }

.subheading__button {
  position: absolute;
  border-radius: 12px;
  right: 0px;
  z-index: 2;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #1e90ff;
  padding-left: 21px;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-right: 21px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 4px; }

.link_menu {
  background-repeat: no-repeat;
  position: absolute;
  top: 6%;
  left: 90%; }

#menu_checkbox {
  position: absolute;
  left: -9999px; }

body > nav > ul a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 2rem;
  display: block;
  padding: 1rem 1rem 1rem 4rem; }

body > nav {
  background-color: #f8f8f8;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 20px;
  width: 250px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: translateX(-110%); }

body > [type="checkbox"]:checked ~ nav {
  transform: translateX(0); }

body > [type="checkbox"]:checked ~ header label {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25); }

body > [type="checkbox"]:checked ~ main {
  z-index: 1; }

body > nav > h2 {
  display: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 1rem;
  height: 1rem; }

body > nav > h2 > label {
  width: 1rem;
  height: 1rem;
  display: block;
  background-size: 1rem;
  background-repeat: no-repeat; }

body > nav > ul {
  list-style: none;
  display: flex;
  flex-direction: column; }

body > nav > ul a {
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.5;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  display: block;
  padding: 1rem 1rem 1rem 4rem; }

body > nav .link {
  background-position: 1rem 50%; }

body > nav > ul a:hover {
  opacity: 1; }

@media (min-width: 1140px) {
  body > nav {
    padding: 0;
    background-color: transparent;
    top: 0;
    left: auto;
    right: 0;
    bottom: auto;
    width: auto;
    box-shadow: none;
    transform: none;
    transition: none; }
  body > nav > ul {
    flex-direction: row;
    padding-right: 135px; }
  body > nav > ul .link {
    padding: 1.25rem;
    background-image: none;
    line-height: 1.25rem; }
  .link_menu {
    display: none; }
  body > nav > ul a {
    text-transform: lowercase;
    color: #333333; } }

.main-heading {
  margin-top: 102px;
  margin-left: 49px;
  font-size: 24px;
  margin-right: 67px; }

.article {
  margin-left: 15px;
  margin-right: 19px; }
  .article__header {
    margin-top: 35px; }
  .article__paragraph {
    margin-top: 24px; }

.article__card {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 2rem;
  background-color: white;
  height: auto;
  max-width: 100vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 20px;
  box-shadow: 0 4px 20px -2px #e9e9e9;
  border-radius: 12%; }
  .article__card--icon {
    width: 67px;
    height: 67px;
    border-radius: 16px;
    padding-top: 12px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 12px;
    border: none;
    cursor: pointer; }

#card {
  margin-left: 34px; }

#search {
  background-color: #2D9CDB; }

#unfold {
  background-color: #27AE60; }

#list {
  background-color: #EB5757; }

.article__card--button {
  width: 116px;
  height: 42px;
  padding-top: 9px;
  padding-left: 13px;
  padding-bottom: 9px;
  padding-right: 12px;
  border: none;
  border-radius: 12px;
  margin-top: 30px;
  cursor: pointer; }

#front-end-btn {
  background-color: #2D9CDB;
  color: white; }

#back-end-btn, #design-btn {
  color: #828282; }

.info {
  margin-top: 146px; }
  .info__header {
    margin-left: 45px;
    margin-right: 63px;
    font-size: 24px;
    line-height: 36px; }
  .info__image {
    border-radius: 12px;
    margin-top: 48px; }
  .info__link {
    margin-top: 10px;
    color: #828282;
    margin-left: 10px; }
  .info__paragraph {
    color: #333333;
    font-size: 27px;
    margin-left: 10px; }

.arrow-right {
  color: #2D9CDB;
  top: 10%;
  left: 10%;
  position: absolute; }

.more-info {
  position: relative;
  color: #2D9CDB; }

.teamInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 109px; }
  .teamInfo__header {
    color: #EB5757;
    font-size: 27px; }
  .teamInfo__subheader {
    font-size: 36px; }
  .teamInfo__paragraph {
    color: #4F4F4F;
    font-size: 16px; }

.teamImage {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr); }

.teamImages__image1 {
  width: 50%;
  grid-row: 1 / 4;
  grid-column: 1 / 2; }

.teamImages__image2 {
  grid-row: 1 / 3;
  grid-column: 2 / 3; }

.teamImages__image3 {
  grid-row: 3 / 5;
  grid-column: 2 / 3; }

.testimonials__text {
  font-size: 24px;
  line-height: 36px;
  margin-right: 14px;
  margin-left: 10px; }

.testimonial {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr); }

.testimonial__image {
  width: 50%;
  grid-row: 1 / 4;
  grid-column: 1 / 2; }

.testimonial__name {
  grid-row: 1 / 3;
  grid-column: 2 / 3; }

.testimonial__title {
  grid-row: 3 / 5;
  grid-column: 2 / 3; }

.footer {
  background-color: #100E1D;
  margin-top: 103px;
  padding-top: 36px;
  color: white;
  margin-left: 0; }
  .footer__link {
    display: flex;
    flex-direction: column;
    padding-bottom: 64px; }
    .footer__link--item {
      color: white;
      margin-top: 1rem; }

.footer__link li {
  padding-top: 1rem; }

.edie-link {
  color: white;
  margin-left: 41px; }

.share {
  display: flex;
  flex-direction: row;
  padding-bottom: 65px; }
  .share__link {
    margin-right: 1rem; }
